DATABASE_NAME=name
DATABASE_USER=username
DATABASE_PASSWORD=password
CLOVER_APP_ID=XXXXXXXXX
CLOVER_APP_SECRET=xxx-xx-xxx-xx
CLOVER_REDIRECT_URI=url.com
CLOVER_BASE_AUTHORIZE_URL=sandbox.dev.clover.com
CLOVER_BASE_TOKEN_URL=sandboxapi.dev.clover.com